@import url('./fonts.css');

:root {
    /* Colors */
    --color-primary: #685dc5;
    --color-primary-hover: #776dcb;
    --color-bg: #fff;
    --color-bg-muted: #fbfbfb;
    --color-text: #535353;
    --color-text-muted: #6a6a6a;
    --color-border: #dadada;

    /* Spacing */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;
    --space-8: 32px;
    --space-9: 36px;
    --space-10: 40px;
    --space-11: 44px;
    --space-12: 48px;

    /* Radius */
    --radius: 4px;
    --radius-full: 9999px;

    /* Typography */
    --font-family-base: 'Apercu Pro', system-ui, -apple-system, 'Segoe UI', roboto, sans-serif;
    --font-size-base: 1rem;
    --font-size-md: 1.125rem;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --line-height-base: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);

    color: var(--color-text);
    background: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;

    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;

    border: none;
}
