.root {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 58px;
    padding: 0 var(--space-10);

    user-select: none;

    font-size: 18px;
    font-weight: var(--font-weight-medium);

    color: var(--color-bg);
    border-radius: var(--radius-full);
    background: var(--color-primary);

    transition:
        background-color 0.2s ease,
        transform 0.1s ease;

    &:not(:disabled):hover {
        background: var(--color-primary-hover);
    }

    &:not(:disabled):active {
        transform: scale(0.98);
    }
}

.disabled {
    cursor: not-allowed;

    opacity: 0.5;
}
