.root {
    position: relative;

    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    padding: 0;

    color: var(--color-text-muted);
    border: 1px solid var(--color-border);
    border-radius: 50%;
    background: transparent;

    transition:
        border-color 0.3s ease,
        color 0.3s ease;

    &:hover {
        color: var(--color-primary);
        border-color: var(--color-primary);
    }
}

.expanded {
    color: var(--color-bg);
    border-color: var(--color-primary);

    &:hover {
        color: var(--color-bg);
        border-color: var(--color-primary-hover);
    }
}

.bg {
    position: absolute;
    inset: 24px;

    pointer-events: none;

    border-radius: 50%;
    background: var(--color-primary);
}

.icon {
    position: relative;

    width: 10px;
    height: 10px;
}

.icon::before,
.icon::after {
    position: absolute;
    top: 50%;
    left: 50%;

    content: '';

    background: currentcolor;

    transform-origin: center;
}

.icon::before {
    width: 100%;
    height: 1.5px;

    transform: translate(-50%, -50%) rotate(0deg);
}

.icon::after {
    width: 1.5px;
    height: 100%;

    transform: translate(-50%, -50%) rotate(0deg);
}

.expanded .bg {
    inset: 2px;
}

.expanded .icon::before {
    transform: translate(-50%, -50%) rotate(-180deg);
}

.expanded .icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.root[data-motion='expand'] .bg {
    animation: bg-expand 0.4s ease forwards;
}

.root[data-motion='expand'] .icon::before {
    animation: line-forward 0.4s ease forwards;
}

.root[data-motion='expand'] .icon::after {
    animation: cross-forward 0.4s ease forwards;
}

.root[data-motion='collapse'] .bg {
    animation: bg-collapse 0.4s ease forwards;
}

.root[data-motion='collapse'] .icon::before {
    animation: line-backward 0.4s ease forwards;
}

.root[data-motion='collapse'] .icon::after {
    animation: cross-backward 0.4s ease forwards;
}

.root:not(.expanded) .bg {
    inset: 24px;
}

.root:not(.expanded) .icon::before {
    transform: translate(-50%, -50%) rotate(0deg);
}

.root:not(.expanded) .icon::after {
    transform: translate(-50%, -50%) rotate(0deg);
}

@keyframes bg-expand {
    from {
        inset: 24px;
    }

    to {
        inset: 2px;
    }
}

@keyframes bg-collapse {
    from {
        inset: 2px;
    }

    to {
        inset: 24px;
    }
}

@keyframes line-forward {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-180deg);
    }
}

@keyframes cross-forward {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

@keyframes line-backward {
    from {
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes cross-backward {
    from {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
